table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 200%;

    margin-bottom: 15%;
    margin-left: 0%;
    padding-left: 0%;
}


td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding-left: 5%;
    margin-left: 1%;
    padding-bottom: 3%;
    padding-right: 2%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media only screen and (min-width: 600px) {


    #kalender {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

.pkalender {
    text-align: center;
}

.red {
    background-color: indianred;
}
