table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}


td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media only screen and (min-width: 600px) {


    #kalender {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}
