* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #40415F;
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 2.8rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    margin-top: 0;
}

h2 {
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: white;
}

h3 {
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 5px 0;
}


p {
    font-size: 1.6rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.9rem;
}

section {
    padding: 20px;
}

#forside {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(46, 47, 72);
}

#forside .txt {
    padding: 10px;
    text-align: center;
}

.anchor {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}

/**** HEADER ****/
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    height: 110px;
    background-color: #00032A;
    z-index: 100;
    color: white;
    border-bottom: 6px solid #AA0009;
}

header img {
    position: absolute;
    top: 22px;
    width: 300px;
    margin: 5px;
}

/** NAV **/
.hidden {
    transform: translateX(100%)
}

#menuknap {
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 30px;
    top: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    line-height: 1;
}

#menu {
    padding: 0;
    list-style-type: none;
    transition: all .3s;
    position: absolute;
    right: 0;
    top: 110px;
    margin: 0;
}

header li {
    width: 100vw;
    background-color: #00032A;
    text-align: right;
}

header li a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #00032A;
    padding: 10px 20px 10px 100px;
    line-height: 2.4;
}

header li a:hover {
    color: #AA0009;
}

.selected {
    color: #AA0009;
}

/**** FOOTER ****/
footer {
    border-top: 6px solid #FFC91F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00032A;
    height: 270px;
    width: 100%;
    padding: 20px;
    color: white;
}



footer p {
    margin: 0 0 5px 0;
}

footer a {
    color: white;
}

#footer_3 img {
    width: 50px;
    transition: all 0.5s ease;
}

#footer_3 img:hover {
    transform: scale(1.08);
    transition: 0.5s;
}


/**** FORSIDE ****/


/* SPLASH */
#splash {
    width: 100vw;
    height: 85vh;

    background-image: url(billeder/forside_billede.png);
    background-size: cover;
    background-position: 6% 0%;
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#splash_div {
    padding: 15vh 0 0 0;
}

#splash_txt {
    width: 400px;
    height: 14vh;
    margin-top: 27.5vh;
}

#splash_txt h1 {
    font-size: 5rem;
}

#splash_arrow {
    background-image: url(assets/arrow.svg);
    width: 100px;
    height: 59.01639344262295px;
    background-size: 100%;
    margin-bottom: 20px;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.1);
    }
}

.bund_links {
    display: none;
}



/**** BLIV MEDLEM CSS ****/
img {
    width: 100%;
}

#blivmedlem {
    margin: 0 auto;
    max-width: 1000px;
    background-color: rgb(46, 47, 72);
}

#blivmedlem .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}


#blivmedlem .txt {
    /* child flex */
    flex-grow: 3;
    flex-basis: 300px;
    margin-top: 110px;
}


#blivmedlem .image {
    flex-grow: 1;
    flex-basis: 400px;
    flex-grow: 3;
    flex-basis: 300px;
    margin-top: 110px;
    padding: 10px;
}

/**** KALENDER ****/
#kalender_wrap {
    margin: 0 auto;
    max-width: 1000px;
    background-color: rgb(46, 47, 72);
}

caption {
    border: solid 1px white;
    background: #AA0009;
    height: 3em;
    line-height: 3em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

caption a {
    color: white;
}

table {
    margin: 20px;
    top: 50%;
    left: 50%;
    font-size: 20px;
    border-collapse: collapse;
}

table,
th,
tr {
    text-align: center;
    vertical-align: middle;
}

table thead th {
    border: solid 1px white;
    width: 3em;
    height: 2em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background-color: #00032A;
    color: white;
}

table tbody td {
    border: solid 1px gray;
    height: 5em;
    background-color: #25254a;
    padding: 0;
}

#kalender a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

tbody a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


tbody a:hover {
    background: #AA0009;
    color: white;
}

.null {
    color: gray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#kalender .selected {
    background: white;
    font-weight: 700;
}

#kalender .selected a {
    color: black;
}

.ons_lob {
    background-color: #FFC91F;

}

.aflyst {
    background-color: #AA0009;

}



/*

00032A mørkeblå
00032A lysere blå med 85% opacity
AA0009 rød
FFC91F gul

*/


/***** OM OS *****/
#om_os .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-direction: column;
}

#om_os {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(46, 47, 72);
}

#om_os .txt1 {
    padding: 10px;
    margin-top: 110px;
}

#om_os .txt2 {
    padding: 10px;
}


#om_os .img {
    flex-basis: 200px;
    flex-grow: 1;
    position: relative;
    width: 30vw;
    height: 15vw;
    margin-left: 20px;
}

#om_os .img:nth-child(1) {
    background-image: url(billeder/gokart2.png);
    background-size: cover;
    background-position: 100%;
    width: 100%;
    margin-left: 0;
}

#om_os .img:nth-child(2) {
    display: none;
}

#om_os .img:nth-child(3) {
    display: none;
}



@media only screen and (min-width: 840px) {

    #om_os .overskrift_2 {
        text-align: left;
    }
}


/***** KONTAKT *****/
#kontakt {
    margin: 0 auto;
    max-width: 1000px;
    background-color: rgb(46, 47, 72);
}

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#kontakt h1 {
    margin-top: 20px;
    margin-bottom: 70px;
}


#kontakt .txt {
    flex-basis: 300px;
    flex-grow: 1;
    margin: 20px;
}

#kontakt .logo_sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#kontakt .logo {
    flex-basis: 50px;
    flex-grow: 1;
    position: relative;
    margin-left: 20px;
}

#kontakt .logo:nth-child(1) {
    background-image: url(kontakt_logo/k%C3%B8benhavns_kommune_hvid.png-copy-300x180.png);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 20px;
    ¨
}

#kontakt .logo:nth-child(2) {
    background-image: url(kontakt_logo/DASU%20logo_udentekst.jpg);
    background-size: 100%;
    background-position: 50%;
    width: 20vw;
    height: 8vw;
    margin-top: 20px;
    background-repeat: no-repeat;
}

#kontakt .logo:nth-child(3) {
    background-image: url(kontakt_logo/FIA_logo.svg.png);
    background-size: 100%;
    background-position: 50%;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    background-repeat: no-repeat;
}

#kontakt .logo:nth-child(4) {
    background-image: url(kontakt_logo/logo_dif.png);
    background-size: 200%;
    background-position: 50%;
    width: 20vw;
    max-height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
}

#kontakt .logo:nth-child(5) {
    background-image: url(kontakt_logo/kontrolrapport_logo.png);
    background-size: 100%;
    width: 20vw;
    height: 19.4vw;
    background-repeat: no-repeat;
}


#googleMap {
    flex-basis: 300px;
    flex-grow: 1;
    width: 300px;
    height: 80px;
    margin-top: 70px;
    text-align: center;
    margin: 20px;
    margin-top: 70px;
}


#kontakt .img {
    flex-basis: 200px;
    flex-grow: 1;
    position: relative;
    width: 30vw;
    height: 15vw;
    margin-left: 20px;
}

#kontakt .img:nth-child(1) {
    background-image: url(billeder/bane.png);
    background-size: cover;
    background-position: 100%;
}

#kontakt .img:nth-child(2) {
    background-image: url(billeder/gokart1.png);
    background-size: cover;
    background-position: 100%;
}

#kontakt .img:nth-child(3) {
    background-image: url(billeder/opbevaring2.png);
    background-size: cover;
    background-position: 100%;
}

@media only screen and (max-width: 750px) {

    #kontakt .img {
        display: none;
    }
}

/** TABLET MEDIA QUERY **/
@media only screen and (min-width: 750px) {
    header {
        position: sticky;
        background-color: #00032A;
    }

    header li a {
        padding: 0;
        margin: 0 10px;
        font-size: 1.5rem;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline;
    }

    #menu {
        top: 50px;

    }

    #splash_div {
        padding: 0;
    }

    #om_os .img:nth-child(2) {
        background-image: url(billeder/vareksted2.png);
        background-size: cover;
        background-position: 100%;
        display: block;
    }

    #om_os .img:nth-child(3) {
        background-image: url(billeder/billard.png);
        background-size: cover;
        display: block;
    }

    #om_os .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #om_os .txt1 {
        margin-top: 0;
        padding: 10px;
        flex-basis: 300px;
        flex-grow: 1;
    }

    #om_os .video {
        margin-top: 10px;
        flex-basis: 300px;
        flex-grow: 1;
    }


    #blivmedlem .txt {
        margin-top: 0;

    }

    #blivmedlem h1 {
        margin-top: 0;
    }

    #blivmedlem .image {
        margin-top: 0;
    }

    #kontakt .txt {
        margin-top: 0;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        height: 120px;
    }

    #footer_3 img {
        margin-top: 22px;
    }

    .bund_links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .col {
        position: relative;
        width: 30vw;
        height: 15vw;
        margin-left: 20px;
    }

    .col:nth-child(1) {
        background-image: url(billeder/vaerksted1.png);
        background-size: cover;
        background-position: 70% 0;
    }

    .col:nth-child(2) {
        background-image: url(billeder/daek.png);
        background-size: cover;
        background-position: 70% 0;
    }

    .col:nth-child(3) {
        background-image: url(billeder/bane.png);
        background-size: cover;
        background-position: 70% 0;
    }

    .col:nth-child(4) {
        background-image: url(billeder/opbevaring1.png);
        background-size: cover;
        background-position: 70% 0;
    }

    .col:last-child {
        margin-right: 20px;
    }

    .col a {
        transition: all 0.5s ease;
        position: absolute;
        bottom: 1vw;
        right: 1vw;
        text-decoration: none;
        color: white;
        background-color: #00032A;
        padding: 10px 20px 10px 20px;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        line-height: 1.9rem;
    }

    .col a:hover {
        transform: scale(1.08);
    }

}




/** DESKTOP MEDIA QUERY **/
@media only screen and (min-width: 885px) {
    header li a {
        padding: 0;
        margin: 0 20px;
        font-size: 2rem;
    }

    #splash_txt {
        width: 500px;
        height: 14vh;
        margin-top: 27.5vh;
    }

    #splash_txt h1 {
        font-size: 7rem;
    }
}
